#Basic

In [1]:
print("Rupesh")

Rupesh

In [5]:
# integer
a = 12  
print(a)

12

# Variable

In [ ]:
1. letter --> small letter
2. Not start with number
3. start with underscore (__)

In [6]:
x = 5
y = 7
print(x)
print(y)
print(x+y)

5
7
12

In [9]:
 x, y, z = 5, 7, 7
print(x)
print(y)
print(z)

5
7
7

#Data Types

String --> "Rupesh"
Numeric --> int (1,2,34), float (1.2,3.5), complex (1-2i)
Sequence --> list, tuple, range
Mapping --> Dict
Boolean --> True (1) False (0)
NaN --> None Type --> Pandas 

NaN = 0
NaN + 12 = 12 (wrong) -> NaN

In [11]:
print("priyanshu")

priyanshu

In [12]:
x = "priyanshu"
print(type(x))

<class 'str'>

In [13]:
 x = 12
print(type(x))

<class 'int'>

In [14]:
x = ["Rupesh", "Golu", "Priyanshu"]
print(type(x))

<class 'list'>

In [15]:
x = 23
y = 25.89
z = 2j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
x  = 23.65
x = 24
print(x)

23.45

#Type Casting

In [18]:
x = 23.45
print(str(x))

23.45

float -> int
int -> float
complex --> int

In [19]:


x = """ fjkergrtklmhjmuykljmfrgbrf
dweferjktmnyjhn
srfgrtmkhrth
tyhyjuy
"""

print(x)

 fjkergrtklmhjmuykljmfrgbrf
dweferjktmnyjhn
srfgrtmkhrth
tyhyjuy

In [21]:
#Boolean (0, 1)

print(10 > 8)
print(11<10)

True
False