# Python Basic (How to print)

In [6]:
print("Rupesh Kumar")

Rupesh Kumar

In [7]:
# how to print integer
a = 12
b = 23
print(a)
print(b)

12
23

# Variables in Python
  1. The variable's name starts with a small letter, not from capital letter
  2. Variables can't start with number\
  3. Variables can start with an underscore (_) etc.

In [8]:
# the way to print variables
x = 5
y = 7
print(x)
print(y)
print(x+y)

5
7
12

In [9]:
#for multiple variables
x, y, z = 5, 7, 7
print(x)
print(y)
print(z)

5
7
7

# Data Types in Python
 1. String --> "Rupesh"
 2. Numeric -->  int (1,2,34), float (1.2,3.5), complex (1-2i)
 3. Sequence --> list, tuple, range
 4. Mapping --> Dict
 5.  Boolean --> True(1), False(0)
 6.  NaN --> None Type

In [11]:
print("priyanshu")

priyanshu

# type()

In [10]:
x = "priyanshu"
print(type(x))

<class 'str'>

In [11]:
x = 12
print(type(x))

<class 'int'>

In [12]:
x = ["Rupesh", "Golu", "Priyanshu"]
print(type(x))

<class 'list'>

In [13]:
x = 23
y = 25.89
z = 2j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Type Casting in python

In [16]:
# interger --> str
x = 23.45
print(str(x))

23.45

In [17]:
#float -> int

x = 123.45
print(int(x))

123

In [18]:
# int --> float

x = 23
print(float(x))

23.0

# Multi line comments in Python

In [23]:
name_des = """ Priyanshu Bharti is a Good Girl. 
She is a video editor"""

print(name_des)

 Priyanshu Bharti is a Good Girl.
She is a video editor

# Boolean data Types in Python

In [21]:
print(10 > 8)

True
False